// _custom.scss

// COLORS
$primary: #8b642d;
$secondary: #b4ab99;
$dark: #382c20;
$black: #292222;

// FONTS
$font-family-sans-serif: "Montserrat", sans serif !default;
$font-family-serif: "hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
